canvas {
    border-style: inset;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-width: 5px;
    border-color: #AAAAAA;
    border-radius: 5px;
}