/* Prevents the user from highlighting the element */
.noselect {
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Old versions of Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

/* Applys a shear to the element */
.slanted {
    -ms-transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.slanted-backwards {
    -ms-transform: skewX(25deg);
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);
}

/* Standard styling for an element that can be seen e.g. button, text box */
.display-box {
    border-color: rgb(118, 118, 118);
    border-style: ridge;
    border-width: 5px;
    box-shadow: 5px 3px;
}

/* Like a rare pokemon card */
.display-box-shadowless {
    border-color: rgb(118, 118, 118);
    border-style: ridge;
    border-width: 5px;
}

/* Explicitly decide button (or button-like element) behaviour */
.button {
    cursor: pointer;
}

/* Note, hover must appear first, since hover always comes before active when the button is interacted with */
.button:hover {
    transform: skewX(-25deg) scale(1.05, 1.05);
}

.button:active {
    transform: skewX(-25deg) scale(0.95, 0.95); /* TODO de-duplicate */
}


/* Button that is inline positioned, usually as part of a group */
.button-inline {
    cursor: pointer;
}

.button-inline:hover {
    transform: scale(1.05, 1.05);
}

.button-inline:active {
    transform: scale(0.95, 0.95); /* TODO de-duplicate */
}


/* un-comment this to make text not skew*/
.text-straight-backwards {
    display:inline-block; 
    transform: skewX(-25deg);
}

