.display-box {
    /* move so that is centered based on centre of element, not top left corner */
    -ms-transform: skewX(-25deg) translate(-50%, -50%);
    -webkit-transform: skewX(-25deg) translate(-50%, -50%);
    transform: skewX(-25deg) translate(-50%, -50%);
    border-width: 5px;
    box-shadow: 5px 3px;
    display:inline-block;
    border-style: ridge;
    border-color: rgb(118, 118, 118);
}

.noselect {
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Old versions of Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

.button {
    cursor: pointer;
    border-style: ridge;
}

/* Note, hover must appear first, since hover always comes before active when the button is interacted with */
.button:hover, .button:focus {
    transform: skewX(-25deg) translate(-50%, -50%) scale(1.05, 1.05);
}

.button:active {
    transform: skewX(-25deg) translate(-50%, -50%) scale(0.95, 0.95); /* TODO de-duplicate */
}


/* Button that is inline positioned, usually as part of a group */
.button-inline {
    cursor: pointer;
    border-style: ridge;
}

.button-inline:hover, .button-inline:focus {
    transform: scale(1.05, 1.05);
}

.button-inline:active {
    transform: scale(0.95, 0.95); /* TODO de-duplicate */
}


/* un-comment this to make text not skew*/
/* .button-text {
    display:inline-block; 
    transform: skewX(25deg);
} */

