.end-game-modal-background {
    /* display: inline-block; */
    /* position: absolute; */
    background-image: url("../assets/infoBoxes/metalBox.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

.end-game-modal-content {
    margin: 0 auto;
    text-align: justify;
    width: 55%;
    position: relative;
}

.slide-up-animation {
    animation: grow 1s forwards;
    -webkit-animation: grow 1s forwards;
    -moz-animation: grow 1s forwards;
    -o-animation: grow 1s forwards;
    -ms-animation: grow 1s forwards;
}
@keyframes grow {
    /* 150 is start because background is centered */
    0% { top: 150% }
    100% { top: 50% }
}

/* These text colours must come before the other header text properties */
.victory-text {
    background: -webkit-linear-gradient(#fcfbb6, #e6a80a);
    /* transform: translateX(-50%); */
}

.defeat-text {
    background: -webkit-linear-gradient(#6c17a5, #af270f);
    /* transform: translateX(-50%); */
}

.shadow-text {
    background: -webkit-linear-gradient(#222222, #222222);
    transform: translate(-50%, 3%);
}

.end-game-modal-header-text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 50%;
}

.end-game-modal-text-container {
    position: relative;
}

.game-summary-text {
    color: #333333;
    line-height: 0.8;
}



.first {
    background: -webkit-linear-gradient(#fcfbb6, #e6a80a);
}

.second {
    background: -webkit-linear-gradient(#b8b8b8, #464646);
}

.third {
    background: -webkit-linear-gradient(#7e7e7e, #2e2e2e);
}

.fourth {
    background: -webkit-linear-gradient(#575757, #141414);
}

.finalScoreTextColour {
    color: #333333;
    font-size: 40px;
}

.finalScoreValueColour {
    background: -webkit-linear-gradient(#fcfbb6, #e6a80a);
    font-size: 64px;
}

@media only screen and (max-width: 768px) {
    .finalScoreTextColour {
        font-size: 32px;
    }
    .finalScoreValueColour {
        font-size: 48px;
    }
}


.finalScoreContainer {
    flex-direction: column;
    margin-top: 5%;
}

.returnToMenuButton {
    margin-top: 20%;
    right: 80%;
}

/* End game screen */
@keyframes fadeOut {
    0% {
        background-color: #bbbbbb00;
    }
    100% {
        background-color: #bbbbbbbb;
    }
  }

.endGameBackground {
    position: fixed;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow-y: auto;

    animation: 1s linear 0s 1 forwards fadeOut;
}

.endGameScrollableContainer {
    width: 100%;
    height: 100%;
    margin: 0 16px;
    display: grid;
    justify-content: center;
}

.endGameContentContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .endGameContentContainer {
        width: 100%;
        margin: 16px auto;

    }
}

.endGameTitle {
    font-size: 72px;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    filter: drop-shadow(0px 4px #000);
    margin-bottom: 32px;
}

.endGameSummary {
    font-size: 24px;
    text-align: justify;
    line-height: 90%;
    color: #333;
    margin-bottom: 32px;
}

@media only screen and (max-width: 768px) {
    .endGameTitle {
        font-size: 56px;
    }
    .endGameSummary {
        font-size: 20px;
    }
}

.scoreGradientText {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 2px #222);
}

.scoreContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin-bottom: 24px;
}

.firstContainer {
    font-size: 48px;
}

.nameDisplay{
    transform: skewX(-15deg);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    width: 300px;
}

.firstContainer .nameDisplay {
    width: 400px;
}
@media only screen and (max-width: 768px) {
    .scoreContainer {
        font-size: 22px;
    }
    .firstContainer {
        font-size: 36px;
    }
    .nameDisplay {
        width: 180px;
    }
    .firstContainer .nameDisplay {
        width: 240px;
    }
}

.endGameMenuButton {
    font-size: 28px;
    align-self: flex-end;
    margin-top: 32px;
    margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
    .endGameMenuButton {
        font-size: 22px;
    }
}