.end-game-modal-background {
    display: inline-block;
    position: absolute;
    background-image: url("../assets/infoBoxes/metalBox.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

.end-game-modal-content {
    margin: 0 auto;
    text-align: justify;
    width: 55%;
}

.slide-up-animation {
    animation: grow 1s forwards;
    -webkit-animation: grow 1s forwards;
    -moz-animation: grow 1s forwards;
    -o-animation: grow 1s forwards;
    -ms-animation: grow 1s forwards;
}
@keyframes grow {
    /* 150 is start because background is centered */
    0% { top: 150% }
    100% { top: 50% }
}

/* These text colours must come before the other header text properties */
.victory-text {
    background: -webkit-linear-gradient(#fcfbb6, #e6a80a);
    transform: translateX(-50%);
}

.defeat-text {
    background: -webkit-linear-gradient(#6c17a5, #af270f);
    transform: translateX(-50%);
}

.shadow-text {
    background: -webkit-linear-gradient(#222222, #222222);
    transform: translate(-50%, 3%);
}

.end-game-modal-header-text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 50%;
}

.end-game-modal-text-container {
    position: relative;
}

.game-summary-text {
    color: #333333;
    line-height: 0.8;
}

.nameDisplay{
    transform: skewX(-15deg);
    display: inline-block;
}

.first {
    background: -webkit-linear-gradient(#fcfbb6, #e6a80a);
}

.second {
    background: -webkit-linear-gradient(#b8b8b8, #464646);
}

.third {
    background: -webkit-linear-gradient(#7e7e7e, #2e2e2e);
}

.fourth {
    background: -webkit-linear-gradient(#575757, #141414);
}

.finalScoreTextColour {
    background: -webkit-linear-gradient(#999999, #4b4b4b);
}

.finalScoreValueColour {
    background: -webkit-linear-gradient(#fcfbb6, #e6a80a);
}

.scoreGradientText {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 2px #222);
}

.scoreContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -2%;
}

.finalScoreContainer {
    flex-direction: column;
    margin-top: 5%;
}
