.lobby-grid {
    display: grid;
    grid-template-areas: 
    "title gameCode"
    "map players"
    "options start";
    grid-template-columns: 1fr 1fr;
}

.title {
    grid-area: "title";
}

.game-code {
    grid-area: "gameCode"
}

/* Holds everything to do with the map generation */
.map-regenerate-container {
    grid-area: "map";
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

/* Holds the map canvas */
.map-container {
    grid-column-start: 2;
}

/* The map canvas itself */
.map-select {
    display: block;
    width: 100%;

    border-color: rgb(118, 118, 118);
    border-style: ridge;
    border-width: 5px;
    box-shadow: 5px 3px;
}

/* Button used to generate a new map layout */
.map-regenerate-button {
    display: block;
    width: 20%;
    height: 60%;
    justify-self: end;
    align-self: center;
    grid-column-start: 2;
}

/* Colour to use for name place of player in the lobby */
.name-place-colour-active {
    background-color: rgb(230, 230, 230);
}

/* Colour to use for name place when waiting for player to arrive */
.name-place-colour-waiting {
    background-color: rgb(150, 150, 150);
}

/* Generic name place styling */
.name-place {
    display: block;

    font-size: 2.5em;
    letter-spacing: 0.1em;
    margin: 2%;

    text-align: center;
    align-self: center;
    justify-self: center;

    height: 1.5em;
    width: 60%;
}

/* Styling for the text in a name place waiting for player to join */
.name-place-text-waiting {
    margin: auto;
}

/* Container that holds all the name places */
.player-names-container {
    grid-area: "players";
    display: grid;
    grid-template-columns: 1fr;
}

.start-game {
    grid-area: start;
    width: 30%;
}

.colourPicker {
    /* width: 300px;
    height: 300px; */
    transform: rotate(270deg) scaleX(-1);
}