.lobby-grid {
    display: grid;
    grid-template-areas: 
        "map players"
        "options start";
    grid-template-columns: 1.2fr 1fr;

    padding: 32px;
    margin: auto;
    max-width: 1400px;
}
@media only screen and (max-width: 900px) {
    .lobby-grid {
        grid-template-areas:
            "players"
            "map"
            "options"
            "start";
        grid-template-columns: 1fr;
        padding: 4px;
    }
}

@media only screen and (min-width: 901px) {
    .smallScreenOnly {
        display: none;
    }
}
@media only screen and (max-width: 900px) {
    .largeScreenOnly {
        display: none;
    }
}

.game-code {
    font-size: 42px;
    align-self: center;
    margin-left: 16px;
    letter-spacing: 0.05em;
    width: 80%;
}

.game-code-code {
    color: gold;
    text-shadow: 1px 1px black;
    font-size: 48px;
}

@media only screen and (max-width: 900px) {
    .game-code {
        text-align: center;
        width: initial;
        font-size: 32px;
        margin-top: 16px;
    }
    .game-code-code {
        font-size: 36px;
    }
}

/* Holds everything to do with the map generation */
.map-regenerate-container {
    grid-area: map;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options {
    grid-area: options;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    display: flex;
    flex-direction: row;
    font-size: 32px;
    margin: 16px;
}

.optionName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.optionPicker {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

.optionPickerButton {
    background-color: transparent;
    outline: none;
    border: none;
    cursor:pointer;
    font-size: inherit;
    display: flex;
    align-items: center;
}

.optionPickerButton:hover {
    transform: scale(1.1, 1.1);
}

.optionPickerButton:active {
    transform: scale(0.9, 0.9);
}

.optionPickerButtonText {
    writing-mode: vertical-lr;
}

.optionPickerValue {
    padding-bottom: 4px;
    color: gold;
    text-shadow: 1px 1px black;
    line-height: 24px;
}


/* Holds the map canvas */
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The map canvas itself */
.map-select {
    display: block;
    width: 80%;
    margin: 16px;

    border-color: rgb(118, 118, 118);
    border-style: ridge;
    border-width: 5px;
    box-shadow: 5px 3px;
}

.map-options-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 16px 16px 16px;
    width: 80%;
}

@media only screen and (max-width: 900px) {
    .map-select {
        margin: 4px;
    }
    .map-options-container {
        /* width: 100%; */
        flex-direction: column-reverse;
    }
}

/* Button used to generate a new map layout */
.map-regenerate-button {
    display: inline-block;

    max-width: 180px;
    font-size: 20px;
    margin: 4px;
    align-self: flex-end;
}

.map-seed-container {
    display: flex;
    align-items: center;
}

.seed-title {
    padding-right: 8px;
    font-size: 24px;
}

.map-seed-input {
    width: 150px;
    text-align: center;
    font-size: 24px;
    margin: 4px;
}

/* Colour to use for name place of player in the lobby */
.name-place-colour-active {
    background-color: rgb(230, 230, 230);
}

/* Colour to use for name place when waiting for player to arrive */
.name-place-colour-waiting {
    background-color: rgb(150, 150, 150);
}

/* Generic name place styling */
.name-place {
    font-size: 32px;
    letter-spacing: 1px;

    text-align: center;
    width: 80%;
}

.name-place-container {
    width: 100%;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .name-place {
        font-size: 24px;
        width: 100%;
    }

    .name-place-container {
        width: initial;
    }
}

/* Name place for the user where they can enter their name an pick colour.
   Contains name place and colour picker */
.name-place-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for the text in a name place waiting for player to join */
.name-place-text-waiting {
    margin: auto;
}

/* Container that holds all the name places */
.player-names-container {
    grid-area: players;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 32px;
}
@media only screen and (max-width: 900px) {
    .player-names-container {
        margin-top: 0;
    }
}

.start-game {
    grid-area: start;
    align-self: center;
    justify-self: center;
    font-size: 36px;
    padding: 8px 16px;
}
@media only screen and (max-width: 900px) {
    .start-game {
        margin-top: 64px;
        margin-bottom: 48px;
    }
}

/* Mobile only section titles */
.section-title {
    font-size: 24px;
    align-self: flex-start;
    text-decoration: underline;
    margin-left: 24px;
    letter-spacing: 1px;
    margin-top: 64px;
}