.lobby-grid {
    display: grid;
    grid-template-areas: 
    "title gameCode"
    "map players"
    "options start";
    grid-template-columns: 1fr 1fr;
}

.title {
    grid-area: "title";
}

.game-code {
    grid-area: "gameCode"
}

.namePlace {
    background-color: rgb(230, 230, 230);
    display: block;
    font-size: 2.5em;
    height: 1.5em;
    letter-spacing: 0.1em;
    margin: 2%;
    text-align: center;
}

.namePlaceEmpty {
    background-color: rgb(150, 150, 150);
    display: block;
    font-size: 2.5em;
    height: 1.5em;
    letter-spacing: 0.1em;
    margin: 2%;
    text-align: center;
}

.namePlaceEmptyText {
    margin: auto;
}

/* Holds everything to do with the map generation */
.map-regenerate-container {
    grid-area: "map";
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

/* Holds the map canvas */
.map-container {
    grid-column-start: 2;
}

/* The map canvas itself */
.map-select {
    display: block;
    width: 100%;

    border-color: rgb(118, 118, 118);
    border-style: ridge;
    border-width: 5px;
    box-shadow: 5px 3px;
}

/* Button used to generate a new map layout */
.map-regenerate-button {
    display: block;
    width: 20%;
    height: 60%;
    justify-self: end;
    align-self: center;
    grid-column-start: 2;
}

.player-names-container {
    grid-area: "players";
    display: grid;
    grid-template-columns: 1fr;
    right: 90%;
    width: 80%;
}

.start-game {
    grid-area: start;
    width: 30%;
}

.colourPicker {
    /* width: 300px;
    height: 300px; */
    transform: rotate(270deg) scaleX(-1);
}