/* Root element for the main menu */
.main-menu {
    text-align: center;
}

/* Game logo that sits on the main page */
.main-menu-logo {
    margin-top: 20px;
    max-width:100%;
    height:auto;
}

/* Space that holds the start/join game buttons and join game text box */
.main-menu-options {
    width: 100%;
    top: 75%;
    position: absolute;
}

/* Startgame or join game buttons */
.button-main-menu {
    width: 20%;
    position: relative;
    font-size: 2em;
}

/* Root element that holds the form to join the game */
.join-game-form {
    display: inline-block;
}

/* Text box to input the join game code */
.join-game-input {
    background-color: rgb(255, 255, 255);
    font-size: 2.5em;
    height: 1.5em;
    letter-spacing: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    vertical-align: middle;
    width: 5em;
}

/* Description of the form */
.join-game-title {
    display: block;
    padding-left: 1em;
    text-align: left;
}

/* Holds the submit/cancel buttons in the join game form */
.join-game-button-container {
    display: inline-block;
    vertical-align: middle;
}

/* Button to submit/cancel the game code */
.join-game-button {
    border-width: 3px;
    box-shadow: 5px 3px;
    display: block;
    height: 2.5em;
    margin: 1em;
    width: 6em;
}

/* Background colours for the join game buttons */
.join-game-button-green {
    background-color: rgb(146, 201, 146);
}
.join-game-button-red {
    background-color: rgb(201, 146, 146);
}


/* The below makes the menu logo bounce
    However seems to be some sort of bug where it does not load some of the time
*/

@keyframes bounce {
    from {transform: translateY(-1%);}
    to {transform: translateY(1%);}
}

.main-menu-logo-bounce {
    animation-name : bounce;
    animation-iteration-count : infinite;
    animation-direction : alternate;
    animation-duration : 2s; 
}

