/* Root element for the main menu */
.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

/* Game logo that sits on the main page */
.main-menu-logo {
    width: 400px;
    height: auto;
    /* min-height: 300px; */
}
@media only screen and (max-width: 768px) {
    .main-menu-logo {
      width: 300px;
    }
}
@media only screen and (min-width: 1200px) {
    .main-menu-logo {
      width: 450px;
    }
}

.main-menu-options {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16px;
}

/* Startgame or join game buttons */
.button-main-menu {
    width: 300px;
    position: relative;
    font-size: 40px;
    margin: 8px;
}
@media only screen and (max-width: 900px) {
    .button-main-menu {
        width: 240px;
        font-size: 32px;
    }
}

/* Root element that holds the form to join the game */
.join-game-form {
    display: inline-block;
}

.join-game-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media only screen and (max-width: 900px) {
    .join-game-input-container {
        flex-direction: column;
    }
}

/* Text box to input the join game code */
.join-game-input {
    background-color: rgb(255, 255, 255);
    font-size: 2.5em;
    height: 1.5em;
    letter-spacing: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    vertical-align: middle;
    width: 5em;
}

/* Description of the form */
.join-game-title {
    display: block;
    padding-left: 1em;
    text-align: left;
}

/* Holds the submit/cancel buttons in the join game form */
.join-game-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media only screen and (max-width: 900px) {
    .join-game-button-container {
        flex-direction: row;
    }
}

/* Button to submit/cancel the game code */
.join-game-button {
    border-width: 3px;
    box-shadow: 5px 3px;
    display: block;
    height: 2.5em;
    margin: 4px;
    margin-left: 8px;
    width: 6em;
}
@media only screen and (max-width: 900px) {
    .join-game-button {
        margin: 12px;
        width: 8em;
    }
}

/* Background colours for the join game buttons */
.join-game-button-green {
    background-color: rgb(146, 201, 146);
}
.join-game-button-red {
    background-color: rgb(201, 146, 146);
}

.join-game-response {
    height: 32px;
    text-align: center;
}

/* The below makes the menu logo bounce
    However seems to be some sort of bug where it does not load some of the time
*/

@keyframes bounce {
    from {transform: translateY(-1%);}
    to {transform: translateY(1%);}
}

.main-menu-logo-bounce {
    animation-name : bounce;
    animation-iteration-count : infinite;
    animation-direction : alternate;
    animation-duration : 2s; 
}

