.simulation-view-title {
    margin-left: 1%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.simulation-view-simulation-options {
    display: grid;
    grid-template-areas: 
        "simulation-view-seed simulation-view-tower-method simulation-view-buttons";
    grid-template-columns: 1fr 4fr 2fr;
}

.holder {
    margin-left: 32px;
    margin-right: 32px;
    display: inline-block;
    vertical-align: middle;
}

.simulation-view-button {
    width: 45%;
    height: 64px;
    display: inline;
    font-size: 1.4vw;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}

.simulation-view-subtitle {
    margin: 5px;
}

.simulation-view-seed-input {
    width: 90%;
    height: 48px;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
}

.simulation-view-tower-method-input {
    margin-right: 20px;
    white-space: nowrap;
}

.simulation-view-tower-method-checkbox {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.simulation-view-tower-method-label {
    font-size: 1.5em;
    vertical-align: middle;
}

.game-canvas-simulation {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
}